
.event-details-container {
    background-color: #10171E;
    border: 2px solid #2B2F36; 
    border-radius: 10px;       
    padding: 20px;            
    margin: 20px auto;       
    width: 1000px;            
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5); 
    color: #F1F1F1;            
}

.event-title {
    font-size: 2rem;          
    margin-bottom: 15px;       
    color: #ffd700;         
}

.event-description, 
.event-date, 
.event-time, 
.event-location, 
.event-ticketing, 
.event-privacy {
    font-size: 1.1rem;        
    margin: 10px 0;           
}

strong {
    color: #63cf38;           
    font-weight: bold;
}

.event-privacy {
    color: #F1F1F1;
}

.create-poll-btn, .create-discussion-btn {
    background-color: #63cf38;
    color: #10171E;            
    border: none;              
    padding: 10px 10px;       
    border-radius: 5px;      
    font-size: 1rem;          
    cursor: pointer;         
    transition: background-color 0.3s ease-in-out;
    margin-right: 10px;             
}

.create-poll-btn:hover, .create-discussion-btn:hover {
    background-color: #50a62c; 
}

.engagement-list {
    margin-top: 30px;          
}

.engagement-list h2 {
    font-size: 1.5rem;    
    color: #ffd700;            
    margin-bottom: 20px;       
}

.engagement-item {
    background-color: #2B2F36; 
    padding: 15px;        
    border-radius: 8px;        
    margin-bottom: 15px;     
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}

.engagement-item h3 {
    color: #63cf38;            
    font-size: 1.3rem;        
}

/* Poll options */
.engagement-item ul {
    list-style: none;          
    padding-left: 0;          
}

.engagement-item li {
    color: #F1F1F1;           
    margin: 5px 0;             
}

.engagement-item:hover {
    transform: scale(1.02);    
}

.engagement-list p {
    color: #f1f1f1;            
    font-size: 1.1rem;        
    text-align: center;        
}

.poll-option {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.poll-option:hover {
    background-color: #54b32d;
}

.poll-option:active {
    background-color: #54b32d;
}

