
.home-container {
    padding: 20px;
    background-color: #10171E; 
    color: #F1F1F1; 
   
}

.home-content {
    text-align: center;
    margin: 0 auto;
    color: #FFD700;
}

.home-title {
    font-size: 36px;
    color: #FFD700; 
}

.home-subtitle {
    font-size: 18px;
    margin-bottom: 30px;
    color: white;
}

.features {
    margin: 30px 0;
}

.features h2 {
    font-size: 24px;
    color: #FFD700;
}

.features-list {
    list-style-type: none;
    padding: 0;
    color: white;
}

.features-list li {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
}

.testimonial-section {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonial-section h2 {
    font-size: 24px;
    color: #FFD700;
}

.testimonial {
    background-color: #1C2732;
    padding: 20px;
    border-radius: 10px;
    margin: 15px 0;
    color: white;
    width: 80%;
}

.testimonial h4 {
    margin-top: 10px;
    font-size: 16px;
    color: #FFD700;
}

.cta-buttons {
    margin-top: 20px;
}

.cta-button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #63cf38;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #54b32d;
}