
.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh; 
    background-color: #1c1f26; 
    color: #F1F1F1; 
    text-align: center;
    padding: 20px;
}

.not-found-title {
    font-size: 3rem;
    font-weight: bold;
    color: #FFD700; 
    margin-bottom: 20px;
}

.not-found-message {
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #2e3641; 
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.4); 
}
